html, 
body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.top-bar {
  max-width: 100%;
  padding: 20px;
  width: 100%;
  background: #fff;
  height: 88px;
}

img {
  max-width: 100%;
}

.fill-img img {
  height: 100%;
  object-fit: cover;
}

.z-index-1 {
  z-index: 1;
}

.btn:focus,
.btn:active:focus {
  box-shadow: none;
}

a:focus-visible ,
.btn:focus-visible,
input[type="email"]:focus-visible,
#back-to-top:focus-visible {
    box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
    outline: 4px solid #1941a6;
    outline-offset: 3px;
}

a:focus-visible {
  border-radius: 5px;
}

.bg-dark {
  background: #303030;
}

.bg-dark-subtle {
  background: #414141;
}

.bg-primary-subtle {
  background: #EEEEFA;
}

.text-primary {
  color: #7429AD!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

h1 {
  font-weight: bold;
  /* font-size: 48px; */
  font-size: 3em;
}

h2 {
  font-weight: 600;
  /* font-size: 32px; */
  font-size: 2em;
}

h3 {
  font-weight: 600;
  /* font-size: 24px; */
  font-size: 1.5em;
}

h4 {
  font-weight: 600;
  /* font-size: 16px; */
  font-size: 1em;
}

.fs-24px {
  font-size: 1.5em;
}

.fs-48px {
  font-size: 3em;
}

/* top bar */

.top-bar-logo {
    width: 30%;
    min-width: 120px;
}

section,
article {
    height: 100%;
    padding: 20px;
}

.footer-content {
  padding: 20px;
}

article {
  background-color: #EEEEFA;
}

#section4 {
  padding: 0;
  background-color: #EEEEFA;
}

#section4.dark-mode {
  background: #303030;
  color: #fff;
}

#section4 .col-md:first-child {
  padding: 20px;
}

/* end of top bar */

/* start of Button */ 

.btn {
    font-weight: 600;
    padding: 9px 20px;
    border-radius: 8px;
    font-size: 14px;
}

.btn.btn-lg {
    padding: 15px 32px;
    border-radius: 16px;
    font-size: 16px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-outline-primary:hover,
.btn-outline-primary:focus-visible {
    color: #fff;
    background: #7429AD;
    border: 1px solid #7429AD;
}

.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:focus {
    color: #7429AD;
    background: #fff;
    border: 1px solid #7429AD;
}

.btn-primary:hover, 
.btn-primary:focus-visible {
    background: #511C79;
    border: 1px solid #511C79;
}

/* end of Button */

/* start of margin */

.ms-20px {
  margin-left: 1.3rem;
}

.pt-32px {
  padding-top: 2.67rem;
}

.mt-40px {
  margin-top: 2.5rem;
}

.mb-40px {
  margin-bottom: 2.5rem;
}

.ps-40px {
  padding-left: 2.5rem;
}

/* end of margin */

/* start of animation */

[data-animate-in] {
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

[data-animate-in=up] {
  transform: translate3d(0, 24px, 0);
}

[data-animate-in=left] {
  transform: translate3d(-25%, 0, 0);
}

[data-animate-in=right] {
  transform: translate3d(10px, 0, 0);
}

[data-animate-in=down] {
  transform: translate3d(0, -24px, 0);
}

[data-animate-in=fadeIn] {
  transform: translate3d(0, 0, 0);
}

[data-animate-in="up fadeIn"] {
  opacity: 0;
  transform: translate3d(0, 70px, 0);
}

[data-animate-in].in-view {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: transform 0.6s ease, opacity 0.6s ease;
}

/* end of animation */

.success-highlight {
    color: #2DD8BB;
}

/* start of section 1 */

#section1 {
    background: #EEEEFA;
}

#section1 .barry-badge {
    display: none;
}

/* end of section 1 */

/* start of section 2 */

#section2,
#section6,
footer {
    background: #303030;
    color: #fff;
}

footer a {
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

footer a:hover,
footer a:focus-visible {
  text-decoration: underline;
  color:#0d6efd;
}

.operating-system-cards {
  gap: 80px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
}

.ios-card,
.android-card {
  display: flex;
  align-items: flex-start;
  border-radius: 40px;
  flex-direction: column;
  background-color: rgba(64, 64, 64, 1);
}

.ios-card .header,
.android-card .header {
  gap: 8px;
  display: flex;
  padding: 24px 24px 0;
  align-items: flex-start;
  flex-direction: column;
}

.ios-card .header h3,
.android-card .header h3 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
}

.ios-card .middle,
.android-card .middle {
  gap: 10px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}

.ios-card .footer,
.android-card .footer {
  gap: 10px;
  display: flex;
  padding: 8px 0 0 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}

.ios-card .footer .qr-code,
.android-card .footer .qr-code {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}

.ios-card .footer .qr-code img,
.android-card .footer .qr-code img {
    width: 56px;
}

.ios-card .footer .logo,
.android-card .footer .logo {
  width: 96px;
  height: 96px;
  display: flex;
  padding: 24px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 40px;
  justify-content: center;
  background-color: rgba(48, 48, 48, 1);
}

.ios-card .footer .logo img,
.android-card .footer .logo img {
  height: 48px
}

.social-medias {
  gap: 30px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-banner {
  background: #7429AD;
  padding: 20px;
  text-align: center;
}

.GoBarry-Qr-Code {
  text-align: center;
}

.GoBarry-Qr-Code img {
  max-width: 100px;
}

.fixed-width-get-app {
  min-width: 162px;
}

article h2 {
  font-weight: 700;
}

.shape,
.shape-1 {
  display: none;
}

/* end of section 2 */

.form-switch .form-check-input {
  display: none;
  margin-left: 0;
  margin-top: 0;
  border: none;
}

.form-switch {
  padding-left: 0;
}

.form-check-input ~ .form-check-input-sub {
  width: 100%;
  height: 100%;
  border-radius: 200px;
  border-width: 4px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 400ms cubic-bezier(0, 0, 0.38, 0.99);
}

.form-check-input ~ .form-check-input-sub {
  outline: 4px solid #303030;
  outline-offset: 3px;
  background: radial-gradient(149.38% 149.38% at 50% 50%, #01D9F6 0%, #02D2F6 18.66%, #00B5E4 48.58%, #016596 100%);
  box-shadow: 0px 4px 56px 0px rgba(2, 111, 154, 0.64) inset, 0px -2px 12px 0px rgba(0, 153, 214, 0.64) inset;
}

.form-check-input:checked ~ .form-check-input-sub {
  outline: 4px solid #fff;
  outline-offset: 3px;
  background: radial-gradient(149.38% 149.38% at 50% 50%, #4E4E4E 0%, #3E3E3E 18.66%, #262829 48.58%, #011E2F 100%);
  box-shadow: 0px 4px 56px 0px rgba(46, 46, 46, 0.64) inset, 0px -2px 12px 0px rgba(60, 60, 60, 0.64) inset;
}

.switchToggle {
  display: inline-block;
  width: 35%;
  aspect-ratio: 2/1;
  border-radius: 200px;
  line-height: 0;
}

.switchToggle:focus-within {
  box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
  outline: 4px solid #1941a6;
  outline-offset: 7px;
}

.moon-sun {
  display: inline-block;
  width: 27.5%;
  height: 55%;
  border-radius: 88px;
  background: radial-gradient(87.11% 87.11% at 43.18% 46.59%, #FFD1A4 0%, #FFBF82 28.13%, #F5AE69 100%);
  box-shadow: 0px 8px 50px 0px #FFE18A, 0px 8px 40px 0px #FDCE72 inset, 16px -6px 120px 0px rgba(255, 227, 144, 0.80);
  filter: blur(1px);

  position: absolute;
  top: -28%;
  left: 3%;
  z-index: 1;
  transition: all 1000ms cubic-bezier(0.34, 0.08, 0.17, 1.05);
}

.dark-mode .moon-sun {
  background: radial-gradient(87.11% 87.11% at 43.18% 46.59%, #FFF 0%, #FFF 28.13%, #FFF 100%);
  box-shadow: 0px 8px 50px 0px #EAFBFF, 0px 8px 40px 0px #E4FAFF inset, 16px -6px 120px 0px rgba(209, 244, 255, 0.80);
  left: 78%;
}

.moon-details {
  opacity: 0;
  width: 27.5%;
  height: 55%;
  position: absolute;
  top: -58%;
  left: 3%;
  z-index: 2;
  border-radius: 50%;
  transition: all 1000ms cubic-bezier(0.34, 0.08, 0.17, 1.05);
  font-size: 50%;
  box-shadow: rgba(221, 223, 224, 1) -2.5em 3.5em 0 -4.6em, rgba(221, 223, 224, 1) -2.5em 5.6em 0 -4.4em, rgba(221, 223, 224, 1) -0.5em 4.5em 0 -4em, rgba(221, 223, 224, 1) -0.5em 6.8em 0 -4.4em, rgba(221, 223, 224, 1) -0.5em 8.5em 0 -4.7em, rgba(221, 223, 224, 1) 1.05em 9em 0 -4.6em, rgba(221, 223, 224, 1) 2.5em 6em 0 -4.7em, rgba(221, 223, 224, 1) 2.5em 9em 0 -4.7em;
  filter: blur(1px);
  font-size: 30%;
}

.dark-mode .moon-details {
  opacity: 1;
  left: 74%;
}

.star-img {
  background: url(../img/stars.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 92%;
  height: 100%;
  position: absolute;
  top: -10rem;
  left: 1.3rem;
  opacity: 0;
  transition: all 1000ms cubic-bezier(0.34, 0.08, 0.17, 1.05);
}

.dark-mode .star-img {
  top: -0.7rem;
  opacity: 1;
}

.cloud-right-1 {
  background: url(../img/cloud1.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 14%;
  height: 19%;
  position: absolute;
  top: 25%;
  left: 46%;
  transition: all 1500ms cubic-bezier(0.34, 0.08, 0.17, 1.05);
  z-index: 3;
}

.dark-mode .cloud-right-1 {
  left: 110%;
}

.cloud-left-1 {
  background: url(../img/cloud2.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 22%;
  height: 35%;
  position: absolute;
  top: 26%;
  left: 10%;
  transition: all 1000ms cubic-bezier(0.34, 0.08, 0.17, 1.05);
  z-index: 3;
}

.dark-mode .cloud-left-1 {
  left: 34%;
}

.cloud-right-2 {
  background: url(../img/cloud4.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 23%;
  height: 30%;
  position: absolute;
  top: 46%;
  left: 31%;
  transition: all 1500ms cubic-bezier(0.34, 0.08, 0.17, 1.05);
  z-index: 5;
}

.dark-mode .cloud-right-2 {
  left: 66%;
}

.cloud-left-2 {
  background: url(../img/cloud3.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 16%;
  height: 24%;
  position: absolute;
  top: 21%;
  left: -36%;
  transition: all 1500ms cubic-bezier(0.34, 0.08, 0.17, 1.05);
  z-index: 5;
}

.dark-mode .cloud-left-2 {
  left: 62%;
}

.light-house {
  background-image: url(../img/lighthouse-light.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 64%;
  height: 100%;
  position: absolute;
  top: 14%;
  right: -30%;
  z-index: 4;
  transition: right 1500ms cubic-bezier(0.34, 0.08, 0.17, 1.05);
}

.dark-mode .light-house {
  background-image: url(../img/lighthouse-dark.png);
  right: 32%;
}

@media (min-width: 1024px) {
    .top-bar {
      padding: 16px 80px;
    }

    .top-bar-logo {
      width: 100%;
      max-width: 176px;
    }

    section,
    article {
      padding: 120px 80px;
    }

    .footer-content {
      padding: 20px 80px;
    }

    article {
      padding-bottom: 220px;
    }

    #section1 {
      min-height: calc(100vh - 88px);
      height: 100%;
      padding: 32px 80px;
    }

    #section4 {
      padding: 0 0 0 80px;
    }

    #section4 .col-md:first-child {
      padding: 120px 80px 120px 0px;
    }

    #section5 {
      padding-bottom: 300px;
    }

    .footer-banner {
      padding: 80px 60px;
      border-radius: 40px;
    }

    footer {
      position: relative;
      padding-top: 300px;
    }

    .footer-position {
      width:100%;
      position: absolute;
      left: 0;
      top: -300px;
      padding: 40px 80px;
    }

    .shape {
      display: block;
      top: 10%;
      left: 20%;
    }

    .shape-1 {
      display: block;
      top: 20%;
      right: 15%;
    }

    .GoBarry-Qr-Code img {
      max-width: 150px;
    }
    
    .switchToggle {
      width: 28%;
    }
}

@media (min-width: 992px) {
  .mb-lg-80px {
    margin-bottom: 5rem !important;
  }

  #section1 .barry-badge {
    display: block;;
    width: 136px;
    top: 32px;
    right: 80px;
  }
}

@media (max-width: 526px) {
  .two-rows .col {
    margin-top: 20px;
  }
}

@media (max-width: 392px) {
  .form-switch .form-check-label {
    margin-left: 0 !important;
    margin-top: 1rem;
    padding-left: 45px;
  }

  .form-switch {
    display: block !important;
  }

  .dark-wavy-arrow,
  .white-wavy-arrow {
    transform: rotate(25deg);
    position: relative;
    top: -1rem;
  }
}

@media (max-width: 382px) {
  .two-rows .col {
    width: 100%;
    flex: inherit;
  }

  .two-rows .col:last-child {
    margin-top: 10px;
  }
}

#back-to-top {
  /* height: calc(100vh - 110px); */
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: none;
  border:none;
}

#back-to-top:hover {
  cursor: pointer;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}
#back-to-top img {
  width: 50px;
  position: absolute;
  bottom: 45px;
  left: 26px;
  transform: rotate(25deg);
}
#back-to-top .back-to-top {
  background-color: #7429AD;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  #back-to-top {
    height: 93px;
  }
}

.btn-bubble {
  color: white;
  background-repeat: no-repeat;

  -webkit-animation: bubbles 1s forwards ease-out infinite;
  animation: bubbles 1s forwards ease-out infinite;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 62% 94%/0.565em 0.565em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 12% 93%/0.265em 0.265em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 11% 90%/0.56em 0.56em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 60% 143%/0.355em 0.355em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 90% 113%/0.43em 0.43em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 85% 94%/0.595em 0.595em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 45% 99%/0.355em 0.355em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 91% 82%/0.335em 0.335em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 74% 134%/0.55em 0.55em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 47% 80%/0.505em 0.505em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 87% 112%/0.5em 0.5em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 53% 92%/0.465em 0.465em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 76% 95%/0.28em 0.28em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 34% 104%/0.565em 0.565em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 77% 139%/0.53em 0.53em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 71% 95%/0.585em 0.585em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 63% 113%/0.595em 0.595em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 38% 119%/0.47em 0.47em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 76% 140%/0.255em 0.255em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 31% 95%/0.565em 0.565em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 31% 95%/0.565em 0.565em;
  background-repeat: no-repeat;
}

/* .btn-bubble:hover, 
.btn-bubble:focus {
  -webkit-animation: bubbles 1s forwards ease-out infinite;
  animation: bubbles 1s forwards ease-out infinite;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 62% 94%/0.565em 0.565em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 12% 93%/0.265em 0.265em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 11% 90%/0.56em 0.56em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 60% 143%/0.355em 0.355em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 90% 113%/0.43em 0.43em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 85% 94%/0.595em 0.595em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 45% 99%/0.355em 0.355em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 91% 82%/0.335em 0.335em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 74% 134%/0.55em 0.55em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 47% 80%/0.505em 0.505em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 87% 112%/0.5em 0.5em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 53% 92%/0.465em 0.465em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 76% 95%/0.28em 0.28em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 34% 104%/0.565em 0.565em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 77% 139%/0.53em 0.53em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 71% 95%/0.585em 0.585em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 63% 113%/0.595em 0.595em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 38% 119%/0.47em 0.47em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 76% 140%/0.255em 0.255em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 31% 95%/0.565em 0.565em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #9d298c 60%, #9d298c 65%, rgba(0, 0, 0, 0) 70%) 31% 95%/0.565em 0.565em;
  background-repeat: no-repeat;
} */

@-webkit-keyframes bubbles {
  100% {
    background-position: 63% 54%, 15% -50%, 16% 8%, 65% -151%, 99% -56%, 90% 2%, 50% 33%, 97% -65%, 77% -38%, 55% -55%, 92% 10%, 63% -153%, 85% -181%, 38% 3%, 82% -81%, 75% 34%, 73% -184%, 41% 30%, 76% 12%, 40% -10%, 23% -190%;
  }
}
@keyframes bubbles {
  100% {
    background-position: 63% 54%, 15% -50%, 16% 8%, 65% -151%, 99% -56%, 90% 2%, 50% 33%, 97% -65%, 77% -38%, 55% -55%, 92% 10%, 63% -153%, 85% -181%, 38% 3%, 82% -81%, 75% 34%, 73% -184%, 41% 30%, 76% 12%, 40% -10%, 23% -190%;
  }
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

@media (min-width: 1441px) {
  .wrapper {
    width: calc(100% - 150px);
  }
}

.badge-fixed-size {
  max-width: 80px;
} 

.max-width-105px {
  max-width: 105px;
}

#section4 label.form-check-label:before{
  content: url('data:image/svg+xml,<%3Fxml version="1.0" standalone="no"%3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN" "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd"><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="325.000000pt" height="101.000000pt" viewBox="0 0 325.000000 101.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,101.000000) scale(0.100000,-0.100000)"fill="%23000000" stroke="none"><path d="M1773 965 c-71 -36 -178 -151 -194 -207 -17 -65 -6 -148 29 -213 l31-56 -45 -32 c-71 -51 -258 -152 -373 -203 -312 -137 -644 -210 -1010 -223-134 -4 -186 -9 -189 -18 -5 -18 341 -17 478 1 382 51 776 193 1076 388 l9259 37 -26 c52 -35 171 -71 306 -92 161 -25 709 -23 989 5 107 10 196 18 19718 1 -1 -46 -28 -104 -61 -58 -33 -108 -66 -111 -73 -13 -36 24 -24 138 44165 98 165 100 6 171 -120 53 -161 64 -154 41 3 -7 30 -31 62 -53 l58 -40-134 -13 c-79 -8 -279 -14 -498 -15 -316 -2 -378 0 -465 16 -110 21 -232 58-271 83 l-24 17 81 75 c139 129 212 258 194 340 -9 45 -56 84 -107 89 -33 3-55 -2 -95 -22z m142 -40 c58 -57 10 -172 -132 -312 -52 -51 -100 -93 -107-93 -8 0 -26 23 -40 52 -30 60 -35 138 -12 193 20 48 92 122 151 156 63 36107 37 140 4z"/></g></svg>');
}

